.controller-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cross-fader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross-fader {
  margin-bottom: 50px;
}

.controller-bottom {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 40%;
  height: 5px;
  background: rgb(64, 64, 64);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 40px;
  background-image: url("./../assets/slider2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 40px;
  background: rgb(64, 64, 64);
  cursor: pointer;
}

.volume-controller {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  transform: rotate(270deg);
  height: 100px;
}

.knob-container {
  width: 10vw;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.knob {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: rgb(64, 64, 64);
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
    /* Shadow on the top */ 0 5px 10px rgba(0, 0, 0, 0.5),
    /* Shadow on the bottom */ inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.knob::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 50%;
  background-color: black;
  transform: translateX(-50%);
}
