.tracklist-container {
    height: 45vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    color: #0AC97A;
}

.tracklist-heading {
    text-align: center;
}

.track {
    list-style-type: none;
    margin-bottom: 5px;
}