@font-face {
  font-family: 'DS-DIGI';
  src: url('./assets/DS-DIGIB.TTF') format('truetype');
}

/* Apply the custom font to desired elements */
.digital {
  font-family: 'DS-DIGI', sans-serif;
  color: cyan;
  font-size: 2.5rem;
}

body {
    background-color: #16161F;
    padding-top: 20px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 40%;
    height: 5px;
    background: rgb(64, 64, 64);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 40px;
    background-image: url("./assets/slider2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 40px;
    background: rgb(64, 64, 64);
    cursor: pointer;
  }
  
  .volume-controller {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    transform: rotate(270deg);
    height: 100px;
  }
  
  .green-text {
    color: #0AC97A;
  }
  
  .spinning {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .round-button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1a1a25;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
      -10px -10px 10px rgba(26, 26, 37, 0.6);
  }
  
  .round-button:active {
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
      inset -10px -10px 10px rgba(26, 26, 37, 0.6);
  }
  
